/* ===========================
GENERAL STYLES
=========================== */
html{
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  border: 0;
  margin: 0;
  padding: 0;

  color: #454545;
  font-size: 2.4rem;
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

figure{
  margin: 0;
}

/* ===========================
LAYOUT CLASSES
=========================== */
.container{
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.text-large{
  font-size: 2.8rem;
}

a.btn{
  background: #345b88;
  background: -webkit-gradient(linear, left top, left bottom, from(#43729b), to(#26415f));
  background: linear-gradient(#43729b, #26415f);
  border-radius: 4px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-right: 1rem;
}

a.btn:hover{
  background: #345b88;
  background: -webkit-gradient(linear, left top, left bottom, from(#477aa6), to(#2b496b));
  background: linear-gradient(#477aa6, #2b496b);
}

@media(max-width: 375px){
  h2{
    font-size: 3.2rem;
  }

  .text-large{
    font-size: 2rem;
  }
}


/* ===========================
GIAU PASS SECTION
=========================== */
#giaupass{
  position: relative;

  color: #fff;
}

#giaupass .bgInitial,
#giaupass .bgBlur{
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

#giaupass .bgInitial{
  background-image: url("../img/mc_giaupass.jpg");
  z-index: 1;
}

#giaupass .bgBlur{
  background-image: url("../img/mc_giaupass_blur.jpg");
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity .75s ease;
  transition: opacity .75s ease;
}

#giaupass .bgBlur.active{
  opacity: .95;
}

#giaupassIntro,
#giaupassDescription{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 3;
}

#giaupassIntro h1{
  text-shadow: 0px 1px 3px rgba(200, 70, 30, .55);
  color: #FFF;
  font-size: 6.4rem;
  line-height: 1;
}

@media(max-width: 425px){
  #giaupassIntro h1{
    font-size: 4.8rem;
  }
}

@media(max-width: 375px){
  #giaupassIntro h1{
    font-size: 3.6rem;
  }
}


#giaupassIntro{
  -webkit-transition: opacity .75s ease;
  transition: opacity .75s ease;
}

#giaupassIntro.scroll{
  opacity: 0;
}

#giaupassIntro h1,
#giaupassIntro .text-large{
  width: 66%;
}

@media(max-width: 768px){
  #giaupassIntro h1,
  #giaupassIntro .text-large{
    width: 100%;
  }
}

#giaupassDescription .text-large{
  font-weight: 700;
}


/* ===========================
GIAU PASS CSS SECTION
=========================== */
#giauPassCSS{
  padding: 10rem 0;
  position: relative;
  z-index: 4;

  background: #fff;
}

.laptop{
  margin-top: 10rem;
}


/* ===========================
GIAU PASS ENDER
=========================== */
#giauPassEnder{
  background-image: url("../img/mc_giaupass.jpg");
  background-size: cover;
  border: 2rem solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  z-index: 4;
}

#giauPassEnder h1{
  text-shadow: 0px 1px 3px rgba(200, 70, 30, .55);
  color: #FFF;
  font-size: 6.4rem;
  line-height: 1;
}

#giauPassEnder h1,
#giauPassEnder .text-large{
  width: 66%;
}

@media(max-width: 768px){
  #giauPassEnder h1,
  #giauPassEnder .text-large{
    width: 100%;
  }
}

@media(max-width: 425px){
  #giauPassEnder h1{
    font-size: 4.8rem;
  }
}

@media(max-width: 375px){
  #giauPassEnder h1{
    font-size: 3.6rem;
  }
}
